/* Set padding to keep content from hitting the edges */
.body-content {
    margin-top: 15px;
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.btn-outline-secondary {
    color: #fff;
}

.btn-outline-secondary.hvr{
    color: #000;
}

.btn-group .hvr:hover {
    z-index: 2;
    color: #fff;
    transform: scale(1.05);
}

.nav-link.linkhvr {
    color: #fff;
}

.nav-link.linkhvr:hover {
    color: #1656fc;
}
